{% extends "Admin/Shared/Layout.html" %}
{% block body %}



<div class="col-8 mx-auto">
    <h2 class="text-center">Kullanıcı Ekle</h2>
    {% include "Admin/Shared/Messages.html" %}
    {% from "Admin/Shared/formhelpers.html" import render_field %}
    <form method="post">
    <dl>
        {{ render_field(form.email,class="form-control") }}
        {{ render_field(form.name, class="form-control") }}
        {{ render_field(form.password, class="form-control") }}
        {{ render_field(form.confirm, class="form-control") }}
    </dl>
    <input type="submit" class="btn btn-primary form-control" value="Kaydet">
    </form>
    <br />
    <h2 class="text-center">Kullancı Listesi</h2>
    <br />


        {% if data == 1  %}
    <div class="alert alert-warning" role="alert">
    Kullanıcı Bulunamadı
    </div>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ad Soyad</th>
                <th scope="col">E-Posta</th>
                <th scope="col">Şifre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for key in data %}
        <tr>
            <th scope="row">{{ key[0] }}</th>
            <td>{{ key[1] }}</td>
            <td>{{ key[2] }}</td>
            <td>{{ key[3] }}</td>
            <td><a href="/Nedmin/Users/Delete/{{ key[0] }}" class="btn btn-danger">Sil</a></td>
            <td><a href="/Nedmin/Users/Update/{{ key[0] }}" class="btn btn-info">Güncelle</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock body %}
