{% extends "Admin/Shared/Layout.html" %}
{% block body %}
{% from "Admin/Shared/formhelpers.html" import render_field %}
<h1>Anasayfa</h1>
{% include "Admin/Shared/Messages.html" %}
<b>
Python Flask Projesi <br>
Back-End Tarafımca(https://github.com/kaptantrx/) Kodlanmıştır. <br>
Hazır Tasarımlar Kullanılmıştır. <br>
Proje Tamamen Dinamik Yapıdır. <br>
<br> <br>
Kullanılan Teknoloji: Python (Flask Framework) <br>
Veritabanı: Mysql <br>
Login Paneli: /Nedmin/Login <br>
Login Bilgileri: admin@kaptantr.com : Kaptan2021- <br>
</b>
{% endblock body %}

